@import url('https://fonts.googleapis.com/css2?family=Material+Icons');


.modal_overlay {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.5);
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden;
   z-index: 2000;
   /* font-family: 'PT Sans', sans-serif; */
   font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
}

.modal_content {
   background-color: white;
   padding: 20px;
   border-radius: 8px;
   width: 1000px;
   max-height: 80%;
   overflow-y: auto;
   box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
   z-index: 2001;
   word-wrap: break-word;
   overflow-wrap: break-word;
}

.modal_content .modal_title {
   width: 100%;
   height: 70px;
   border-bottom: 5px solid green;
}

.modal_content .modal_title h1 {
   margin-left: 20px;
}

.modal_content .text {
   padding: 20px;
}

.second_line {
   height: 2px;
   border-bottom: 1px solid gray;
   margin-top: 40px;
}

.modal_icon {
   margin-right: 10px;
   color: darkgreen;
}

.project_title {
   font-size: 28px;
}

.modal_content .text .skill_title {
   font-size: 28px;
   margin-top: 50px;
}

.modal_content .text .skill_stack h3 {
   display: flex;
}

.modal_content .text .skill_stack li {
   line-height: 40px;
   display: block;
   word-wrap: break-word;
   overflow-wrap: break-word;
   white-space: normal;
   font-weight: lighter;
   margin-left: 10px;
   margin-top: -8px;
   font-size: 1.3rem;
   font-family: 'PT Sans', sans-serif;
}

.code {
   width: 200px;
   height: 45px;
   font-size: 20px;
   border-radius: 15px;
   background-color: orange;
   border: 1px white;
   font-weight: bold;
   padding: 10px 20px;
   cursor: pointer;
   color: white;
}

.code:hover {
   background-color: green;
   transition: 0.3s ease;
}

.modal_content .text p {
   font-size: 20px;
   line-height: 40px;
}

.modal_content .text h3 {
   font-size: 23px;
}

.modal_content .btn_box {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100px;
   border-top: 4px solid green;
}

.modal_content .btn_box .close_btn {
   width: 100px;
   height: 50px;
   border-radius: 15px;
   font-size: 20px;
   background-color: orange;
   border: 1px white;
   font-weight: bold;
   padding: 10px 20px;
   cursor: pointer;
   color: white;
}

.close_btn:hover {
   background-color: green;
   transition: 0.3s ease;
}

@media (max-width: 1100px) {
   .modal_content {
      width: 700px;
   }
}
